<modal :show="songEditor.show" title="曲の情報を編集">
  <div slot="body">
    <columns>
      <column class="is-two-thirds">
        <label for="album" class="label">掲載号</label>
        <p class="control">
          <span class="select is-fullwidth">
            <select name="album" id="" :value="album" @change="change('album', $event)">
              <optgroup v-for="album in albums" :label="`${album.year}年`">
                <option v-for="month in album.months" :value="`${month.year}-${month.month}`">
                  {{month.title}}
                </option>
              </optgroup>
            </select>
          </span>
        </p>
      </column>
      <column>
        <label for="page" class="label">掲載ページ</label>
        <p class="control">
          <input class="input" type="number" name="page" id="page" :value="song.page" @change="change('page', $event)">
        </p>
      </column>
    </columns>

    <label class="label" for="title">曲のタイトル</label>
    <p class="control">
      <input class="input" type="text" name="title" id="title" :value="song.title" @change="change('title', $event)">
    </p>

    <label class="label" for="description">曲の説明</label>
    <p class="control">
      <input class="input" type="text" name="description" id="description" :value="song.description" @change="change('description', $event)">
    </p>

    <columns>
      <column>
        <label for="" class="label">アーティスト</label>
        <p class="control">
          <input type="text" class="input" :value="song.artist" @change="change('artist', $event)">
        </p>
      </column>

      <column>
        <label for="" class="label">エレクトーン・スコア / 編曲</label>
        <p class="control">
          <input type="text" class="input" :value="song.arranger" @change="change('arranger', $event)">
        </p>
      </column>
    </columns>

    <columns>
      <column>
        <label for="" class="label">難易度</label>
        <p class="control">
          <span class="select is-fullwidth">
            <select name="" id="" value="上級">
              <option value="上級">上級</option>
              <option value="中級">中級</option>
              <option value="初級">初級</option>
            </select>
          </span>
        </p>
      </column>
      <column>
        <label for="" class="label">エレクトーン</label>
        <p class="control">
          <input type="number" class="input" :value="song.electone" @change="change('electone', $event)">
        </p>
      </column>
      <column>
        <label for="" class="label">ピアノ</label>
        <p class="control">
          <span class="select is-fullwidth">
            <select name="" id="" :value="song.piano" @change="change('piano', $event)">
              <option :value="true">あり</option>
              <option :value="false">なし</option>
            </select>
          </span>
        </p>
      </column>
    </columns>
  </div>
  <div slot="footer">
    <a class="button is-primary" @click="submit">保存</a>
    <button class="button" @click="cancel">キャンセル</button>
  </div>
</modal>
