<modal :show="albumEditor.show" :title="albumEditor.title">
  <div slot="body">
    <columns>
      <column>
        <label class="label" for="album-year">発売年</label>
        <p class="control">
          <span class="select is-fullwidth">
            <select name="album-year" :value="album.year" @change="change('year', $event)" :disabled="isEditing">
              <option v-for="year in years" :value="year.value">
                {{year.value}}年
              </option>
            </select>
          </span>
        </p>
      </column>
      <column>
        <label class="label" for="album-month">発売月</label>
        <p class="control">
          <span class="select is-fullwidth">
            <select name="album-month" :value="album.month" @change="change('month', $event)" :disabled="isEditing">
              <option v-for="month in months" :value="month.value">
                {{month.value}}月
              </option>
            </select>
          </span>
        </p>
      </column>
      <column>
        <label class="label" for="album-on-loan">貸出中</label>
        <p class="control">
          <span class="select is-fullwidth">
            <select name="album-on-loan" :value="album.onLoan" @change="change('onLoan', $event)">
              <option :value="true">はい</option>
              <option :value="false">いいえ</option>
            </select>
          </span>
        </p>
      </column>
    </columns>
  </div>

  <div slot="footer">
    <a class="button is-primary" @click="submit" :disabled="!albumEditor.valid">保存</a>
    <button class="button" @click="cancel">キャンセル</button>
  </div>
</modal>
