<modal :title="editor.title">
  <div slot="body">
    <columns>
      <selectbox prefix="album" name="year" title="発売年" :disabled="isEditing" v-model.number="album.year">
        <option v-for="year in years" :value="year.value">{{year.value}}年</option>
      </selectbox>
      <selectbox prefix="album" name="month" title="発売月" :disabled="isEditing" v-model.number="album.month">
        <option v-for="month in months" :value="month.value">{{month.value}}月</option>
      </selectbox>
      <selectbox prefix="album" name="place" title="場所" :disabled="isEditing" v-model.number="album.place">
        <option v-for="place in places" :value="place.value">{{place.text}}</option>
      </selectbox>
    </columns>
  </div>

  <div slot="footer">
    <a class="button is-primary" @click="submit" :disabled="!valid">保存</a>
    <button class="button" @click="cancel">キャンセル</button>
  </div>
</modal>
